.card {
    max-width: 413px;
    position: relative;
}


.card__image {
    width: 100%;
    height: 413px;
    object-fit: cover;
    display: block;
    border-radius: 2%;
    margin-bottom: 12px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    color: #212121;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.card__like-button {
    width: 23px;
    height: 20px;
    border: none;
    background-image: url(../images/like.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    color: rgba(33, 33, 33, 0.667);
    cursor: url(../images/pointer.svg), pointer;
    opacity: 40%;
}

.card__like-button:hover {
    
}

.card__like-button_liked {
    background-image: url(../images/likebutton-act.svg);
    opacity: 1;
}

.card__like-button_liked:hover {
    background-image: url(../images/likebutton-hov.svg);
}

.card__delete-button {
    background-image: url(../images/delete.svg);
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    left: 371px;
    top: 10px;
}

.card__delete-button:hover {
    background-image: url(../images/delete-hov.svg);
}

@media screen and (max-width: 627px) {
    .card {
        max-width: 288px;
    }
    
    .card__image {
        height: 288px;
    }

    .card__content {
        margin: 0;

    }

    .card__title {
        color: #212121;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
    }

    .card__like-button {
        width: 20px;
        height: 18px;
        background-repeat: round;
    }
    
    .card__delete-button {
        left: 246px;
    }
    
}