.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    visibility: hidden;
}

.modal__opened {
    visibility: visible;
}

.modal__container {
    font-family: Poppins, "Arial", "sans-serif";
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    max-width: 730px;
    padding: 32px 50px;
    box-sizing: border-box;
    position: relative;
}

.modal__close-button {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 32px;
    right: 50px;
    background-image: url(../images/modalclose.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    color: rgba(33, 33, 33, 1);
    opacity: 40%;
}

.modal__close-button:hover {
    opacity: 1;
    cursor: url(../images/pointer.svg), pointer;

}

.modal__title {
    font-family: Poppins, "Arial", "sans-serif";
    font-weight: 500;
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 1;
    color: rgba(33, 33, 33, 1);
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    font-size: 16px;
    color: rgba(33, 33, 33, 0.7);

}

.modal__input {
    padding: 16px 12px;
    border-radius: 8px;
    border: 1px solid rgba(33, 33, 33, 0.4);
    font-size: 20px;
    line-height: 1;
    color: #212121;    
}

.modal__input:hover {
    border: 1px solid rgba(33, 33, 33, 1);
    cursor: url(../images/pointer.svg), pointer;

}

.modal__submit-button {
    width: 156px;
    padding: 18px 0;
    background-color: rgba(33, 33, 33, 1);
    color: #fcf5e5;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1;
}

.modal__submit-button:hover {
    background-color: rgba(33, 33, 33, 0.8);
    cursor: url(../images/pointer.svg), pointer;

}

@media screen and (max-width: 627px) {

    .modal {
        padding: 0 10px;
    }

    .modal__container {
        padding: 12px;
    }

    .modal__title {
        font-size: 20px;
        margin-bottom: 24px;
        margin: 10px 0 34px;
    }

    .modal__close-button {
        top: 12px;
        right: 12px;
    }

    .modal__label {
        margin-bottom: 24px;
    }

    .modal__submit-button {
        width: 100%;
    }
}